html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
}

.box {
  width: 100px;
  height: 60px;
  margin: 5px;
  flex: 1;
}

.red {
  background: #FF0000;
  order: 3;
}

.green {
  background: #008000;
  order: 1;
}

.blue {
  background: #0000ff;
  order: 2;
}